*{
    margin: 0px;
    padding: 0px;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: arial;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: white;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

/* Hover que afeta o ul */
.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #f4f4f4;
    color: black;
}

.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a{
    background-color: #069;
}

/* ------------------------------------------------- */

label[for="button-home"]{
    padding: 5px;
    background-color: #222;
    color:white;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: none;
}

#button-home{
    display: none;
}

@media(max-width: 980px){
    label[for="button-home"]{
        display: block;
    }
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    #button-home:checked ~ .menu{
        margin-left: 0;
    }
    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 0.4s;
    }

    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;

    }
}